<div class="container">
	<div class="row">
		<div class="span12">
<%= form_for(@invoice, :html => {:class => "hey"} ) do |f| %>
  <% if @invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
      <% @invoice.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" id="title">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :number %>
    <%= f.number_field :number %>
  </div>
  <div class="field">
    <%= f.label :status %>
    <%= f.select :status, ['draft', 'sent', 'paid'].collect { |s| [t('.'+s), s] } %>
  </div>
  <div class="field">
<%= f.label :client_id %><br />
<%= select_tag "invoice[client_id]", options_from_collection_for_select(Client.all,"id","bname") %>
  </div>


<%= f.hidden_field :user_id, :value => current_user.id %>


<div>
<!-- Survey Items display -->
<%= f.fields_for :items do |builder| %>
  <%= render "item_fields", :f => builder %>
<% end %>
<%= link_to_add_fields "Add New Item", f, :items %>
</div>

  <div class="actions">
    <%= f.submit :class => "btn btn-success" %>
  </div>
<% end %>
</div>
</div>
</div>
