<div class="row">
<div class="fields span12" class="invoice_items_list">
<table class="table table-striped table-condensed">
<thead>
<tr class="header">
<td>Description</td>
<td>Unit Cost</td>
<td>Quantity</td>
<td>Discount</td>
<td>Total</td>
<td></td>
</tr>
</thead>

<tr>
<td class="invoice_description"><%= f.text_area :description, :class => "span4" %></td>
<td class="invoice_unit_cost"><%= f.text_field :unit_cost, :class => "span2" %></td>
<td class="invoice_quantity"><%= f.number_field :quantity, :class => "span2" %></td>
<td class="invoice_discount"><%= f.text_field :discount, :class => "span2" %></td>
<td class="invoice_item_total">$0.00</td>
<td><%= link_to_remove_fields "remove", f %></td>
</tr>
</table>
</div>
</div>

