<!DOCTYPE html>
<html>
<head>
  <title>InvoiceBear</title>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  <link href='http://fonts.googleapis.com/css?family=Maven+Pro' rel='stylesheet' type='text/css'>
  <style>
body {margin:0;padding:0;background:#006363;font-family:Verdana,Arial,Times;margin-top:60px;font-size:12px;}

#container {width:850px;margin:0 auto;}

#main-content {background:white;float:left;width:670px;padding:10px 5px 10px 5px;-moz-box-shadow: 0px 0px 5px #888;
-webkit-box-shadow: 0px 0px 5px #888;
box-shadow: 0px 0px 5px #888;}
#sidebar {background:#006363;float:left;width:170px;background:white;margin-top:20px;-webkit-border-top-left-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-bottomleft: 5px;
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;}
.footer {text-align:center;padding:10px 0px;color:white;width:750px;margin:0 auto;padding-top:30px;}

span.clear-fix {clear:both;padding:0;margin:0;}

.invoice_details table {width:100%;margin-top:15px;font-size:11px;}
.invoice_details table tr.header, .invoice_details table tr.header td {background:#E6E6E6;border-bottom:1px solid #A1A1A1;padding:5px 2px 5px 2px;font-weight:bold;}
.invoice_details table td {padding:10px 0px 10px 0px;border-bottom:1px solid #f5f5f5;}

.invoice_qty, .invoice_discount, .invoice_item_total, .invoice_unit_cost {text-align:center;}

div.totals {font-size:12px;padding:10px;font-weight:bold;}

#invoice_info td {padding:5px 2px 10px 5px;}
</style>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div id="container">
	<% if @invoice.status == "paid" %>
	<div style="width:700px;margin:0 auto;background:white;padding:15px;">
	<h2 style="color:green;">This Invoice for the amount of <%= number_to_currency(@invoice.total) %> has been paid. Thank you!</h2>
	</div>
	<% else %>
	<div id="sidebar">
		<p><%= link_to image_tag("paypal_pay_now.gif", :border => 0), @invoice.paypal_url(invoices_url,payment_notifications_url), :class => 'dock-item' %></p>
	</div>
	
	<div id="main-content">
		<div class="invoice_content">
		<h2>Invoice (<%= number_to_currency(@invoice.total) %>)</h2>
		<table border="0" bordercolor="#FFCC00" style="background-color:#FFF" width="100%" cellpadding="0" cellspacing="0" id="invoice_info">
			<tr>
				<td><b>Invoice Summary</b></td>
				<td><%= @invoice.title %></td>
			</tr>
			<tr>
				<td><b>Date</b></td>
				<td><%= @invoice.created_at.to_s(:simple) %></td>
			</tr>
			<tr>
				<td><b>Invoice Number</b></td>
				<td><%= @invoice.number %></td>
			</tr>
			<tr>
				<td><b>Client Details</b></td>
				<td><%= @invoice.contact.bname %><br /> <%= @invoice.contact.address %> <%= @invoice.contact.city %>, <%= @invoice.contact.state %>, <%= @invoice.contact.zip %></td>
			</tr>
		</table>
		</div>
		
		<div class="invoice_details">
			<table cellpadding="0" cellspacing="0">
			<tr class="header">
			<td width="300">Description</td>
			<td width="100" class="invoice_unit_cost">Unit Cost</td>
			<td width="70" class="invoice_qty">Quantity</td>
			<td width="100"class="invoice_discount">Discount</td>
			<td width="100" class="invoice_item_total">Total</td>
			</tr>

			<% @invoice.items.each do |item| %>
			<tr class="items">
			<td class="invoice_description"><%= item.description %></td>
			<td class="invoice_unit_cost"><%= number_to_currency(item.unit_cost) %></td>
			<td class="invoice_qty"><%= item.quantity %></td>
			<td class="invoice_discount"><%= number_to_percentage(item.discount) %></td>
			<td class="invoice_item_total"><%= number_to_currency(item.total_price) %></td>
			</tr>
			<% end %>
			</table>
			<div class="totals" align="right"><b>Total Due:</b> <%= number_to_currency(@invoice.total) %></div>
		</div>
	</div>
 	<span class="clear-fix">&nbsp;</span>
</div><!-- container -->
<div class="container footer">
	<div class="row">
		<div class="span12"><p>Copyright &copy; 2012 InvoiceBear.com</p></div>
	</div>
</div>
<% end %>
</body>
</html>
