<div class="container">
  <div class="row">
    <div class="span12">		
		<div class="row">
			
	    <div class="span8 well">
		<div class="outstanding_invoices span6">
			<h2>Outstanding Invoices:</h2>
			<table class="table-striped table">
			<thead>
			  <tr>
				<th>Date</th>
				<th>Title</th>
			    <th>Number</th>
			    <th>Client</th>
			    <th>Total</th>
			    <th>Status</th>
			    <th>Actions</th>
			  </tr>
			</thead>
			<tbody>
			<% @invoices.outstanding.each do |inv| %>
				<tr>
					<td><%= inv.created_at.to_s(:simple) %></td>
					<td><%= inv.title %></td>
					<td><%= inv.number %></td>
					<td><%= inv.contact.bname %></td>
					<td><%= inv.total %></td>
					<td><%= inv.status %></td>
					<td><%= link_to "View", invoice_path(inv), :class => "btn btn-small" %></td>
				</tr>
			<% end %>
			</tbody>
			</table>
		</div><!-- recent activity -->
		</div>
		
	    <div class="span3 well">
		<div class="outstanding_invoices span5">
			<h2>You are owed:</h2>
			<p class="label label-warning" style="width:120px;font-size:24px;padding:15px;"><%= number_to_currency(@owed) %></p>
			<h2>You billed:</h2>
			<p class="label label-info" style="width:120px;font-size:24px;padding:15px;"><%= number_to_currency(@billed) %></p>
			<h2>You collected:</h2>
			<p class="label label-success" style="width:120px;font-size:24px;padding:15px;"><%= number_to_currency(@received) %></p>
		</div><!-- recent activity -->
		</div>
		
		</div><!-- row -->

	</div>
  </div>
</div>
