<div class="container">
  <div class="row">
    <div class="span12">
<p id="notice"><%= notice %></p>
<h1>Invoice (<%= number_to_currency(@invoice.total) %>)</h1>

<div class="btn-group">
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    Action
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <!-- dropdown menu links -->
	<%= link_to 'Edit', edit_invoice_path(@invoice) %>
	<%= link_to 'Delete', @invoice, confirm: 'Are you sure?', method: :delete %>
  </ul>
</div>
<a href="/invoices/send_invoice_notification/<%= @invoice.id %>">Send Invoice</a>

<span class="ribbon"><%= @invoice.status %>
	</span>

<div class="field">
	<b>Invoice Summary:</b>
	<%= @invoice.title %>
</div>
<div class="field">
	<b>Invoice Date:</b>
	<%= @invoice.created_at.to_s(:simple) %>
</div>

<p>
	<table class="table table-condensed">
	<tr class="header">
	<td>Description</td>
	<td>Unit Cost</td>
	<td>Quantity</td>
	<td>Discount</td>
	<td>Total</td>
	<td></td>
	</tr>

	<% @invoice.items.each do |item| %>
	<tr>
	<td class="invoice_description"><%= item.description %></td>
	<td class="invoice_unit_cost"><%= item.unit_cost %></td>
	<td class="invoice_quantity"><%= item.quantity %></td>
	<td class="invoice_discount"><%= item.discount %></td>
	<td class="invoice_item_total">$0.00</td>
	</tr>
	<% end %>
	</table>
</p>

</div>
</div>
</div>