<h1>Listing clients</h1>

<table>
  <tr>
    <th>Fname</th>
    <th>Lname</th>
    <th>Address</th>
    <th>City</th>
    <th>State</th>
    <th>Zip</th>
    <th>Phone</th>
    <th>Mphone</th>
    <th>Fax</th>
    <th>Email</th>
    <th>Balance</th>
    <th>Bname</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @clients.each do |client| %>
  <tr>
    <td><%= client.fname %></td>
    <td><%= client.lname %></td>
    <td><%= client.address %></td>
    <td><%= client.city %></td>
    <td><%= client.state %></td>
    <td><%= client.zip %></td>
    <td><%= client.phone %></td>
    <td><%= client.mphone %></td>
    <td><%= client.fax %></td>
    <td><%= client.email %></td>
    <td><%= client.balance %></td>
    <td><%= client.bname %></td>
    <td><%= link_to 'Show', client %></td>
    <td><%= link_to 'Edit', edit_client_path(client) %></td>
    <td><%= link_to 'Destroy', client, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Client', new_client_path %>
