<p id="notice"><%= notice %></p>

<p>
  <b>Fname:</b>
  <%= @client.fname %>
</p>

<p>
  <b>Lname:</b>
  <%= @client.lname %>
</p>

<p>
  <b>Address:</b>
  <%= @client.address %>
</p>

<p>
  <b>City:</b>
  <%= @client.city %>
</p>

<p>
  <b>State:</b>
  <%= @client.state %>
</p>

<p>
  <b>Zip:</b>
  <%= @client.zip %>
</p>

<p>
  <b>Phone:</b>
  <%= @client.phone %>
</p>

<p>
  <b>Mphone:</b>
  <%= @client.mphone %>
</p>

<p>
  <b>Fax:</b>
  <%= @client.fax %>
</p>

<p>
  <b>Email:</b>
  <%= @client.email %>
</p>

<p>
  <b>Balance:</b>
  <%= @client.balance %>
</p>

<p>
  <b>Bname:</b>
  <%= @client.bname %>
</p>


<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
