<%= form_for(@contact, :html => { :class => "well" }) do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
      <% @contact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label "First Name", :class => 'control-label' %>
	<div class="controls">
    <%= f.text_field :fname, :class => 'input' %>
	</div>
  </div>
  <div class="control-group">
    <%= f.label "Last Name", :class => 'control-label' %>
	<div class="controls">
    <%= f.text_field :lname, :class => 'input' %>
	</div>
  </div>
<div class="control-group">
    <%= f.label "E-mail", :class => 'control-label' %>
	<div class="controls">
    <%= f.text_field :email, :class => 'input' %>
	</div>
  </div>
  <div class="control-group">
    <%= f.label "Business Name", :class => 'control-label' %>
	<div class="controls">
    <%= f.text_field :bname, :class => 'input' %>
	</div>
  </div>
  <div class="control-group">
    <%= f.label :address, :class => 'control-label' %>
	<div class="controls">
    <%= f.text_field :address, :class => 'input' %>
	</div>
  </div>
  <div class="control-group">
    <%= f.label :city, :class => 'control-label' %>
	<div class="controls">
    <%= f.text_field :city, :class => 'input' %>
	</div>
  </div>
  <div class="control-group">
    <%= f.label :state, :class => 'control-label' %>
	<div class="controls">
    <%= f.text_field :state, :class => 'input' %>
	</div>
  </div>
  <div class="control-group">
    <%= f.label :zip, :class => 'control-label' %>
	<div class="controls">
    <%= f.number_field :zip, :class => 'input' %>
	</div>
  </div>
  <div class="control-group">
    <%= f.label :phone, :class => 'control-label' %>
	<div class="controls">
    <%= f.text_field :phone, :class => 'input' %>
	</div>
  </div>
  <div class="control-group">
    <%= f.label :fax, :class => 'control-label' %>
	<div class="controls">
    <%= f.text_field :fax, :class => 'input' %>
	</div>
  </div>
<%= f.hidden_field :user_id, :value => current_user.id %>
  <div class="actions">
    <a class="btn" href="/contacts"><i class="icon-arrow-left"></i> Go Back</a> <%= f.submit :class => "btn btn-success" %>
  </div>
<% end %>
