<div class="container">
  <div class="row">
    <div class="span12">
<h1>Contacts</h1>

<ul class="thumbnails">
<% @contacts.each do |contact| %>
  <li class="span3">
    <div class="thumbnail">
      <img src="http://placehold.it/260x180" alt="">
      <h4><%= contact.fname %> <%= contact.lname%></h4>
	  <h5><%= contact.bname %></h5>
      <p><%= contact.email %></p>
	  <p><%= link_to "Edit", edit_contact_path(contact), :class => "btn" %></p>
    </div>
  </li>
<% end %>
</ul>

</div>

<div class="span2">
<%= link_to 'New Contact', new_contact_path, :class => "btn btn-primary" %>
</div>

</div>
</div>
