<p id="notice"><%= notice %></p>

<p>
  <b>Fname:</b>
  <%= @contact.fname %>
</p>

<p>
  <b>Lname:</b>
  <%= @contact.lname %>
</p>

<p>
  <b>Address:</b>
  <%= @contact.address %>
</p>

<p>
  <b>City:</b>
  <%= @contact.city %>
</p>

<p>
  <b>State:</b>
  <%= @contact.state %>
</p>

<p>
  <b>Zip:</b>
  <%= @contact.zip %>
</p>

<p>
  <b>Phone:</b>
  <%= @contact.phone %>
</p>

<p>
  <b>Mphone:</b>
  <%= @contact.mphone %>
</p>

<p>
  <b>Fax:</b>
  <%= @contact.fax %>
</p>

<p>
  <b>Email:</b>
  <%= @contact.email %>
</p>

<p>
  <b>Bname:</b>
  <%= @contact.bname %>
</p>


<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
