<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @item.description %>
</p>

<p>
  <b>Unit cost:</b>
  <%= @item.unit_cost %>
</p>

<p>
  <b>Quantity:</b>
  <%= @item.quantity %>
</p>

<p>
  <b>Discount:</b>
  <%= @item.discount %>
</p>

<p>
  <b>Invoice:</b>
  <%= @item.invoice_id %>
</p>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
